.branch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 140px;
  position: relative;
}

.entry {
  position: relative;
}

.entry:before {
  content: "";
  position: absolute;
  width: 100px; /* Adjust width for horizontal line */
  height: 40px; /* Adjust height for vertical line */
  border: 1px dashed #9c9c9c; /* Dashed border */
  border-radius: 0 0 0 10px; /* Curved bottom-left corner */
  border-right: none; /* Remove right border */
  border-top: none; /* Remove top border */
 
  top: 0;

  /* Adjust to connect to parent */
}.entry:not(:last-child):after {
  content: "";
  position: absolute;
  width: 1px; /* Thickness of the vertical line */
  height: 100%; /* Full height for vertical line */
  border-left: 1px dashed #9c9c9c; /* Dashed border for vertical line */
  top: 0; /* Start from the top */
  left: 0; /* Align with the entry */
}
.label {
  display: inline-block;
  background-color: rgba(242, 216, 148, 0.2); /* 20% opacity */
  border: 1px solid #ffeb99;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px; /* Gap above label */
  margin-left: 100px;
}
h3 {
  background-color: #f2d894;
}
